*, *::after, *::before{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.87718837535014) 0%, rgba(204,41,240,0.927608543417367) 35%, rgba(59,221,255,0.938813025210084) 100%);
    background-size: auto;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}


.grade{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid black;
    border-top: 40px solid rgb(40, 4, 122);
}

.grade:hover{
    background-image: url(blue.jpg);
    text-decoration-color: white;
    box-shadow: 0 15px 50px 0 rgb(4, 196, 255);;
    color: aliceblue;
}

.title{
    text-align: center;
    color: rgb(0, 0, 0);
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    padding-top: 5px;
    text-shadow: 2px;
}

.containerBr{
    margin-right: 150px;
    border-radius: 0%;
}
.containerCh{
    
    border-radius: 0%;
}
.containerCn{
    margin-left: 150px;
    border-radius: 0%;
}

.clock_br, .clock_eu, .clock_ch{
    width: 400px;
    height: 400px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid black;
    position: relative;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}

.clock_br .number, .clock_eu .number, .clock_ch .number{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.7rem;
    transform: rotate(var(--rotation));
    color: black
}

.clock_br .n1, .clock_eu .n1, .clock_ch .n1{--rotation: 30deg;}
.clock_br .n2, .clock_eu .n2, .clock_ch .n2{--rotation: 60deg;}
.clock_br .n3, .clock_eu .n3, .clock_ch .n3{--rotation: 90deg;}
.clock_br .n4, .clock_eu .n4, .clock_ch .n4{--rotation: 120deg;}
.clock_br .n5, .clock_eu .n5, .clock_ch .n5{--rotation: 150deg;}
.clock_br .n6, .clock_eu .n6, .clock_ch .n6{--rotation: 180deg;}
.clock_br .n7, .clock_eu .n7, .clock_ch .n7{--rotation: 210deg;}
.clock_br .n8, .clock_eu .n8, .clock_ch .n8{--rotation: 240deg;}
.clock_br .n9, .clock_eu .n9, .clock_ch .n9{--rotation: 270deg;}
.clock_br .n10, .clock_eu .n10, .clock_ch .n10{--rotation: 300deg;}
.clock_br .n11, .clock_eu .n11, .clock_ch .n11{--rotation: 330deg;}
.clock_br .n12, .clock_eu .n12, .clock_ch .n12{--rotation: 360deg;}


.clock_br .time, .clock_ch .time, .clock_eu .time{
 --rotation: 0;
 position: absolute;
 bottom: 50%;
 left: 50%;
 border: 1px solid white;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 transform-origin: bottom;
 z-index: 10;
 transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock_br::after, .clock_eu::after, .clock_ch::after{
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock_br .time.second, .clock_ch .time.second, .clock_eu .time.second{
    width: 3px;
    height: 40%;
    background-color: red;
    border: 2px black;
}

.clock_br .time.minute, .clock_ch .time.minute, .clock_eu .time.minute{
    width: 8px;
    height: 35%;
    background-color: white;
    border: 2px black;
}

.clock_br .time.hour, .clock_ch .time.hour, .clock_eu .time.hour{
    width: 12px;
    height: 25%;
    background-color: black;
    border:2px black;
}